html{
	margin:0px;
	padding: 0px;
	background-color: black;
}





body{
	margin:0px;
	padding: 0px;

}

.icon{
	position: absolute;
	top: 20%;    
	right: 5%;
	z-index: 0;
	padding-top: 15%;
	background-color: white;
	margin:0px auto;
	width: 300px;
	height:67px;
	border:1px solid black;
	border-radius: 10px;
	font-size: 200%


}

.student{
	color: black;
	background-color:white;
	padding: 30px;
	margin-top: -16px;
	padding-right: 150px;
	padding-left: 50px;
	padding-bottom:;
	padding-top: 5px;
	height: 50px;
	border: 3px solid white;
	width: 0%;
	margin-left: 25%;
	margin-bottom:;
	font-size: 220%;
	
	

}
.contactbox{
	position: relative;
	text-align: center;
	color: black;
	width: 600px;
	height: 600px;
	border:1px solid black;
	padding-right: 5%;
	border-radius: 10px;
	background-color: white;

		
}

img{
	margin-left: 25px
    
}


.hr1 {
    height: 1px;
    border: 1px;
    border-top: 3px solid white;
    padding-top: 0px;
    margin-top: -2px;
    width: 100%;
}

.hr2{
	margin-top: 20px;
	 border-bottom: 2px solid white;
}

.hr3 {
    height: 1px;
    border: 0;
    border-top: 3px solid black;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 40%;

}

#fname{
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

#subject{
	margin-top: 10px;
	width: 550px;
	height:200px
}

.cm{
	padding-top: 10px;
	font-size: 150%;
}


@media screen and (max-width:1800px){

.icon{
	position: relative;
	top: -600px;    
	right: -33%;
	z-index: 0;
	padding-top: 15%;
	background-color: white;
	margin:0px auto;
	width: 40%;
	height:67px;
	border:1px solid black;
	border-radius: 10px;
	font-size: 200%
}

.student{
	position: relative;
	margin-bottom: 0px;
		z-index: 999;
		color: red;
		padding-top: 15px;
}

.student1{
	background-color: grey;
	position: relative;
	width: 50%;
	height: 150%;
	margin-left: 4%;

}

.contactbox{
	background-color: blue;
	width: 50%;
}

#subject{
	width: 80%;
}

.imgme{
	width: 90%;
}

.insta{
	position: relative;
}

.idk{
	    background-color: green;
    text-align: center;
    color: white;
    padding: 15px;
    margin-bottom: 20px;



}

.cwm{
	margin-top: -150px;
	margin-left: 40px;
	color: red;

}


}




@media screen and (max-width:980px){

.icon{
	position: relative;
	top: -600px;    
	right: -33%;
	z-index: 0;
	padding-top: 15%;
	background-color: white;
	margin:0px auto;
	width: 40%;
	height:67px;
	border:1px solid black;
	border-radius: 10px;
	font-size: 200%
}

.student{
	position: relative;
	margin-bottom: 0px;
		z-index: 999;
		color: red;
		padding-top: 15px;
}

.student1{
	background-color: grey;
	position: relative;
	width: 50%;
	height: 150%;
	margin-left: 4%;

}

.contactbox{
	background-color: blue;
	width: 50%;
}

#subject{
	width: 80%;
}

.imgme{
	width: 90%;
}

.insta{
	position: relative;
}

.idk{
	    background-color: green;
    text-align: center;
    color: white;
    padding: 15px;
    margin-bottom: 20px;



}

.cwm{
	margin-top: -150px;
	margin-left: 40px;
	color: red;

}


}

@media screen and (max-width:768px){

.icon{
	position: relative;
	top: -0px;    
	right: 0%;
	z-index: 0;
	padding-top: 15%;
	background-color: white;
	margin:0px auto;
	width: 300px;
	height:67px;
	border:1px solid black;
	border-radius: 10px;
	font-size: 200%
	width:80%;
}

.student{
	position: relative;
	margin-bottom: -0px;
	padding-top: 15px;
		z-index: 999;
}



.student1{
	background-color: grey;
	position: relative;
	width: 88%;
	height: 100%;
	margin-left: 4%;

}

.imgme{
	width: 90%;
}

.insta{
	position: relative;
}

.idk{
	    background-color: green;
    text-align: center;
    color: white;
    padding: 15px;
    margin-bottom: 20px;



}
}


@media screen and (max-width:640px){

.student{
	position: relative;
	top:-10px;
	margin-top:15px; 
}



.icon{
	background-color: white;
	width: 80%;
}

.contactbox{
	background-color: grey;
	position: relative;
	width: 75%;
	height: 100%;
	margin-left: 4%;

}

.container{
	background-color: grey;
	position: relative;
	width: 75%;
	height: 100%;
	margin-left: 4%;

}



   #subject{
   	width: 100%;
   }



.links{
	
	color: white;
	margin-bottom: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
	margin-left: -80%;
	text-align: center;
	margin-top: 70px;
	
	margin-bottom: -20px;

	

}
	
	.cwm{
		position: relative;
		top: 30%;
	}





}












