html{
	margin:0px;
	padding: 0px;
	background-color: blue;
}




body{
	margin:0px;
	padding: 0px;
}

.student{
	text-align: center;
	color: white;
	background-color:black;
	padding: 30px;
	margin: 0px;
}
.student1{
	text-align: center;
	
}

img{
	margin-left: 25px
}

.contact { 
	text-align: center;
	font-size: 20px
   			
}